[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
requests-html = "*"
click = "*"
colorama = "*"

[dev-packages]
black = "*"
pylint = "*"
ipython = "*"

[requires]
python_version = "3.7"
